{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <i class="fa fa-globe"></i>&nbsp; Panamá
            </h1>
            <p class="help-block">
               Este plugin está en desarrollo. Por ahora se ha añadido el <b>Plan contable de Panamá</b>
               para que puedas importarlo en los ejercicios. Pruébalo ;-)
            </p>
         </div>
      </div>
   </div>
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=moneda" class="btn btn-block btn-default">
            Establecer USD como moneda por defecto
         </a>
      </div>
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=pais" class="btn btn-block btn-default">
            Establecer Panamá como pais por defecto
         </a>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <a href="{$fsc->url()}&opcion=impuestos" class="btn btn-block btn-default">
            Establecer impuestos de Panamá
         </a>
      </div>
   </div>
</div>

{include="footer"}